#whatweoffer > .content {
  margin-bottom: 40px;
}

.content {
  h1 {
    font-size: 60px;
    margin-bottom: 24px;
  }

  h2 {
    font-weight: bold;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

.spacer {
  margin-top: 80px;
}

#map {
  height: 400px;
  width: 100%;
}

#tarifs, #equipe {
  margin-top: 120px;
}

#tarifs a > h2 {
  margin: 0;
}

#contact h1 {
  text-align: start;
}

@media (min-width: 767px) and (max-width: 992px) {
  #map {
    position: absolute;
    top: 100px;
  }
}

@media (max-width: 767px) {
  #whatweoffer > .photos {
    order: 2;
  }

  .content {
    margin-bottom: 80px;
  }

  .content h1 {
    text-align: center !important;
  }

  #whatweoffer {
    margin-bottom: 80px;
  }

  .team {
    margin-bottom: 40px;
  }
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.overlay img{
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  transform: scale(0.95);
  transition: transform .3s;
}

.overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
  opacity: 1;
}

.overlay:target img {
    transform: scale(1);
}

.push-left {
  margin-left: 126px;
}

.accompagnement {
  p {
    margin-bottom: 24px;
  }

  ul {
  font-family: 'Montserrat';

    li {
      font-size: 14px;
    }
  }
}
